@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>

<p style="font-size: 14pt">CSCS5e (C# Character Sheet for 5th edition) is an online tool with the aim to help a player, dm, or otherwise keep track of their characters within the 5th edition of dungeons and dragons. Though still in it's alpha builds, there are some features we provide to help players more easily keep track of their character's progress, with room to improve in the future. You can create and share your characters, items, and armours that you create without fear of them being tampered with by other people. Below there will be a list of features in line to be added into this application, but we hope you can enjoy our product as is until we get these implimented further down the line!</p>
<hr />

<h3>Upcoming Features</h3>
<ul style="font-size: 14pt">
    <li>Equip Characters with Items/Armour</li>
    <li>View only Items/Characters that you have made</li>
    <li>Select Feature Path on a character</li>
    <li>...and more!</li>
</ul>