
    <table class="table">
        <tr style="background-color: #fefcbd66; color: black;">
            @* style="background-color:rgba(128, 128, 128, 0.15)" *@
            <th>Level</th>
            <th>Features</th>
            <th>Rages</th>
            <th>Rage Damage</th>
        </tr>
        @*LEVEL 1*@
        <tr id="Barbarian1">
            <td>1</td>
            <td>Rage, Unarmoured Defense</td>
            <td>2</td>
            <td>+2</td>
        </tr>
        @*LEVEL 2*@
        <tr id="Barbarian2">
            <td>2</td>
            <td>Reckless Attack, Danger Sense</td>
            <td>2</td>
            <td>+2</td>
        </tr>
        @*LEVEL 3*@
        <tr id="Barbarian3">
            <td>3</td>
            <td>Primal Path</td>
            <td>3</td>
            <td>+2</td>
        </tr>
        @*LEVEL 4*@
        <tr id="Barbarian4">
            <td>4</td>
            <td>Ability Score Improvement</td>
            <td>3</td>
            <td>+2</td>
        </tr>
        @*LEVEL 5*@
        <tr id="Barbarian5">
            <td>5</td>
            <td>Extra Attack, Fast Movement</td>
            <td>3</td>
            <td>+2</td>
        </tr>
        @*LEVEL 6*@
        <tr id="Barbarian6">
            <td>6</td>
            @*maybe make this change according to the path they chose*@
            <td>Path Feature</td>
            <td>4</td>
            <td>+2</td>
        </tr>
        @*LEVEL 7*@
        <tr id="Barbarian7">
            <td>7</td>
            <td>Feral Instinct</td>
            <td>4</td>
            <td>+2</td>
        </tr>
        @*LEVEL 8*@
        <tr id="Barbarian8">
            <td>8</td>
            <td>Ability Score Improvement</td>
            <td>3</td>
            <td>+2</td>
        </tr>
        @*LEVEL 9*@
        <tr id="Barbarian9">
            <td>9</td>
            <td>Brutal Critical (1 die)</td>
            <td>4</td>
            <td>+3</td>
        </tr>
        @*LEVEL 10*@
        <tr id="Barbarian10">
            <td>10</td>
            @*maybe make this change according to the path they chose*@
            <td>Path Feature</td>
            <td>4</td>
            <td>+3</td>
        </tr>
        @*LEVEL 11*@
        <tr id="Barbarian11">
            <td>11</td>
            <td>Relentless Rage</td>
            <td>4</td>
            <td>+3</td>
        </tr>
        @*LEVEL 12*@
        <tr id="Barbarian12">
            <td>12</td>
            <td>Ability Score Improvement</td>
            <td>5</td>
            <td>+2</td>
        </tr>
        @*LEVEL 13*@
        <tr id="Barbarian13">
            <td>13</td>
            <td>Brutal Critical (2 die)</td>
            <td>5</td>
            <td>+3</td>
        </tr>
        @*LEVEL 14*@
        <tr id="Barbarian14">
            <td>14</td>
            <td>Path Feature</td>
            <td>5</td>
            <td>+3</td>
        </tr>
        @*LEVEL 15*@
        <tr id="Barbarian15">
            <td>15</td>
            <td>Persistent Rage</td>
            <td>5</td>
            <td>+3</td>
        </tr>
        @*LEVEL 16*@
        <tr id="Barbarian16">
            <td>16</td>
            <td>Ability Score Improvement</td>
            <td>5</td>
            <td>+4</td>
        </tr>
        @*LEVEL 17*@
        <tr id="Barbarian17">
            <td>17</td>
            <td>Brutal Critical (3 die)</td>
            <td>6</td>
            <td>+4</td>
        </tr>
        @*LEVEL 18*@
        <tr id="Barbarian18">
            <td>18</td>
            <td>Indomitable Might</td>
            <td>6</td>
            <td>+4</td>
        </tr>
        @*LEVEL 19*@
        <tr id="Barbarian19">
            <td>19</td>
            <td>Ability Score Improvement</td>
            <td>6</td>
            <td>+4</td>
        </tr>
        @*LEVEL 20*@
        <tr id="Barbarian20">
            <td>20</td>
            <td>Primal Champion</td>
            <td>Unlimited</td>
            <td>+4</td>
        </tr>
    </table>


