<table class="table">
    <tr style="background-color:rgba(128, 128, 128, 0.15)">
        <th>Level</th>
        <th>Features</th>
        <th>Cantrips Known</th>
        <th>1st Level Spells</th>
        <th>2nd Level Spells</th>
        <th>3rd Level Spells</th>
        <th>4th Level Spells</th>
        <th>5th Level Spells</th>
        <th>6th Level Spells</th>
        <th>7th Level Spells</th>
        <th>8th Level Spells</th>
        <th>9th Level Spells</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Cleric1">
        <td>1</td>
        <td>Spellcating, Divine Domain</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Cleric2">
        <td>2</td>
        <td>Channel Divinity (1/rest), Divine Domain</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Cleric3">
        <td>3</td>
        <td>-</td>
        <td>3</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Cleric4">
        <td>4</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Cleric5">
        <td>5</td>
        <td>Destroy Undead (CR 1/2)</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Cleric6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Channel Divinity (2/rest), Divine Domain Feature</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Cleric7">
        <td>7</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Cleric8">
        <td>8</td>
        <td>Ability Score Improvement, Destroy Undead (CR 1), Divine Domain Feature</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Cleric9">
        <td>9</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Cleric10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Divine Intervention</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Cleric11">
        <td>11</td>
        <td>Destroy Undead (CR 2)</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Cleric12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Cleric13">
        <td>13</td>
        <td>-</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Cleric14">
        <td>14</td>
        <td>Destroy Undead (CR 3)</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Cleric15">
        <td>15</td>
        <td>-</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Cleric16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Cleric17">
        <td>17</td>
        <td>Destroy Undead (CR 4), Divine Domain Feature</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Cleric18">
        <td>18</td>
        <td>Channel Divinity (3/rest)</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Cleric19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Cleric20">
        <td>20</td>
        <td>Divine Intervention Improvement</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>
