
<table class="table">
    <tr style="background-color: #fefcbd66; color: black;">
        <th>Level</th>
        <th>Features</th>
        <th>Cantrips Known</th>
        <th>1st Level Spells</th>
        <th>2nd Level Spells</th>
        <th>3rd Level Spells</th>
        <th>4th Level Spells</th>
        <th>5th Level Spells</th>
        <th>6th Level Spells</th>
        <th>7th Level Spells</th>
        <th>8th Level Spells</th>
        <th>9th Level Spells</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Druid1">
        <td>1</td>
        <td>Druidic, Spellcasting</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Druid2">
        <td>2</td>
        <td>wild Shape, Druid circle</td>
        <td>2</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Druid3">
        <td>3</td>
        <td>-</td>
        <td>2</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Druid4">
        <td>4</td>
        <td>Wild Shape Improvement, Ability Score Improvement</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Druid5">
        <td>5</td>
        <td>-</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Druid6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Druid Circle Feature</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Druid7">
        <td>7</td>
        <td>-</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Druid8">
        <td>8</td>
        <td>Wild Shape Improvement, Ability Score Improvement</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Druid9">
        <td>9</td>
        <td>-</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Druid10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Druid Circle</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Druid11">
        <td>11</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Druid12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Druid13">
        <td>13</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Druid14">
        <td>14</td>
        <td>Druid Circle Feature</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Druid15">
        <td>15</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Druid16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Druid17">
        <td>17</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Druid18">
        <td>18</td>
        <td>Timeless Body, Beast Spells</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Druid19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Druid20">
        <td>20</td>
        <td>Archdruid</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>