
    <table class="table">
        <tr style="background-color:rgba(128, 128, 128, 0.15)">
            <th>Level</th>
            <th>Features</th>
        </tr>
        @*LEVEL 1*@
        <tr id="Figher1">
            <td>1</td>
            <td>Fighting Style, Second Wind</td>
        </tr>
        @*LEVEL 2*@
        <tr id="Figher2">
            <td>2</td>
            <td>Action Surge (one use)</td>
        </tr>
        @*LEVEL 3*@
        <tr id="Figher3">
            <td>3</td>
            <td>Martal Archetype</td>
        </tr>
        @*LEVEL 4*@
        <tr id="Figher4">
            <td>4</td>
            <td>Ability Score Improvement</td>
        </tr>
        @*LEVEL 5*@
        <tr id="Figher5">
            <td>5</td>
            <td>Extra Attack</td>
        </tr>
        @*LEVEL 6*@
        <tr id="Figher6">
            <td>6</td>
            @*maybe make this change according to the path they chose*@
            <td>Ability Score Improvement</td>
        </tr>
        @*LEVEL 7*@
        <tr id="Figher7">
            <td>7</td>
            <td>Martial Archetype Feature</td>
        </tr>
        @*LEVEL 8*@
        <tr id="Figher8">
            <td>8</td>
            <td>Ability Score Improvement</td>
        </tr>
        @*LEVEL 9*@
        <tr id="Figher9">
            <td>9</td>
            <td>Indomitable (1 use)</td>
        </tr>
        @*LEVEL 10*@
        <tr id="Figher10">
            <td>10</td>
            @*maybe make this change according to the path they chose*@
            <td>Martial Archetype Feature</td>
        </tr>
        @*LEVEL 11*@
        <tr id="Figher11">
            <td>11</td>
            <td>Extra Attack (2)</td>
        </tr>
        @*LEVEL 12*@
        <tr id="Figher12">
            <td>12</td>
            <td>Ability Score Improvement</td>
        </tr>
        @*LEVEL 13*@
        <tr id="Figher13">
            <td>13</td>
            <td>Indomitable (two uses)</td>
        </tr>
        @*LEVEL 14*@
        <tr id="Figher14">
            <td>14</td>
            <td>Ability Score Increase</td>
        </tr>
        @*LEVEL 15*@
        <tr id="Figher15">
            <td>15</td>
            <td>Martial Archetype Feature</td>
        </tr>
        @*LEVEL 16*@
        <tr id="Figher16">
            <td>16</td>
            <td>Ability Score Improvement</td>
        </tr>
        @*LEVEL 17*@
        <tr id="Figher17">
            <td>17</td>
            <td>Action Surges (two uses), Indomitable (three uses)</td>
        </tr>
        @*LEVEL 18*@
        <tr id="Figher18">
            <td>18</td>
            <td>Martial Archetype Feature</td>
        </tr>
        @*LEVEL 19*@
        <tr id="Figher19">
            <td>19</td>
            <td>Ability Score Improvement</td>
        </tr>
        @*LEVEL 20*@
        <tr id="Figher20">
            <td>20</td>
            <td>Extra Attack (3)</td>
        </tr>
    </table>