
<table class="table">
    <tr style="background-color:rgba(128, 128, 128, 0.15)">
        <th>Level</th>
        <th>Features</th>
        <th>Martial Arts</th>
        <th>Ki Points</th>
        <th>Unarmored Movement</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Monk1">
        <td>1</td>
        <td>Unarmored Defense, Matrial Arts</td>
        <td>1d4</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Monk2">
        <td>2</td>
        <td>Ki, Unarmored Movement</td>
        <td>1d4</td>
        <td>2</td>
        <td>+10 ft.</td>

    </tr>
    @*LEVEL 3*@
    <tr id="Monk3">
        <td>3</td>
        <td>Monastic Tradition, Deflect Missiles</td>
        <td>1d4</td>
        <td>3</td>
        <td>+10 ft.</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Monk4">
        <td>4</td>
        <td>Ability Score Improvement, Slow Fall</td>
        <td>1d4</td>
        <td>4</td>
        <td>+10 ft.</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Monk5">
        <td>5</td>
        <td>Extra Attack, Stunning Strike</td>
        <td>1d6</td>
        <td>5</td>
        <td>+10 ft.</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Monk6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Ki-Empowered Strikes, Monastic Tradition Feature</td>
        <td>1d6</td>
        <td>6</td>
        <td>+15 ft.</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Monk7">
        <td>7</td>
        <td>Evasion, Stillness of Mind</td>
        <td>1d6</td>
        <td>7</td>
        <td>+15 ft.</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Monk8">
        <td>8</td>
        <td>Ability Score Improvement</td>
        <td>1d6</td>
        <td>8</td>
        <td>+15 ft.</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Monk9">
        <td>9</td>
        <td>Unarmored Movement Improvement</td>
        <td>1d6</td>
        <td>9</td>
        <td>+15 ft.</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Monk10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Purity of Body</td>
        <td>1d6</td>
        <td>10</td>
        <td>+20 ft.</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Monk11">
        <td>11</td>
        <td>Monastic Tradition Feature</td>
        <td>1d8</td>
        <td>11</td>
        <td>+20 ft.</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Monk12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>1d8</td>
        <td>12</td>
        <td>+20 ft.</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Monk13">
        <td>13</td>
        <td>Tongue of the Sun and Moon</td>
        <td>1d8</td>
        <td>13</td>
        <td>+20 ft.</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Monk14">
        <td>14</td>
        <td>Diamond Soul</td>
        <td>1d8</td>
        <td>14</td>
        <td>+25 ft.</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Monk15">
        <td>15</td>
        <td>Timeless Body</td>
        <td>1d8</td>
        <td>15</td>
        <td>+25 ft.</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Monk16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>1d8</td>
        <td>16</td>
        <td>+25 ft.</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Monk17">
        <td>17</td>
        <td>Monastic Tradition Feature</td>
        <td>1d10</td>
        <td>17</td>
        <td>+25 ft.</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Monk18">
        <td>18</td>
        <td>Empty Body</td>
        <td>1d10</td>
        <td>18</td>
        <td>+30 ft.</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Monk19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>1d10</td>
        <td>19</td>
        <td>+30 ft.</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Monk20">
        <td>20</td>
        <td>Perfect Self</td>
        <td>1d10</td>
        <td>20</td>
        <td>+30 ft.</td>
    </tr>
</table>