
<table class="table">
    <tr style="background-color:rgba(128, 128, 128, 0.15)">
        <th>Level</th>
        <th>Features</th>
        <th>1st Level Spells</th>
        <th>2nd Level Spells</th>
        <th>3rd Level Spells</th>
        <th>4th Level Spells</th>
        <th>5th Level Spells</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Paladin1">
        <td>1</td>
        <td>Divine Sense, Lay on Hands</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Paladin2">
        <td>2</td>
        <td>Fighting Style, Spellcasting, Divine Sense</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Paladin3">
        <td>3</td>
        <td>Divine Health, Sacred Oath</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Paladin4">
        <td>4</td>
        <td>Ability Score Improvement</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Paladin5">
        <td>5</td>
        <td>Extra Attack</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Paladin6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Aura of Protection</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Paladin7">
        <td>7</td>
        <td>Sacred Oath Feature</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Paladin8">
        <td>8</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Paladin9">
        <td>9</td>
        <td>-</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Paladin10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Aura of Courage</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Paladin11">
        <td>11</td>
        <td>Improved Divine Smite</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Paladin12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Paladin13">
        <td>13</td>
        <td>-</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Paladin14">
        <td>14</td>
        <td>Cleansing Touch</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Paladin15">
        <td>15</td>
        <td>Sacred Oath Feature</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Paladin16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Paladin17">
        <td>17</td>
        <td>-</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Paladin18">
        <td>18</td>
        <td>Aura Improvements</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Paladin19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Paladin20">
        <td>20</td>
        <td>Sacred Oath Feature</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
    </tr>
</table>