
<table class="table">
    <tr style="background-color:rgba(128, 128, 128, 0.15)">
        <th>Level</th>
        <th>Features</th>
        <th>Spells Known</th>
        <th>1st Level Spells</th>
        <th>2nd Level Spells</th>
        <th>3rd Level Spells</th>
        <th>4th Level Spells</th>
        <th>5th Level Spells</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Ranger1">
        <td>1</td>
        <td>Favored Enemy, Natural Explorer</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Ranger2">
        <td>2</td>
        <td>Fighting Style, Spellcasting</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Ranger3">
        <td>3</td>
        <td>Ranger Archetype, Primeval Awareness</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Ranger4">
        <td>4</td>
        <td>Ability Score Improvement</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Ranger5">
        <td>5</td>
        <td>Extra Attack</td>
        <td>4</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Ranger6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Favored Enemy and Natural Explorer Improvements</td>
        <td>4</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Ranger7">
        <td>7</td>
        <td>Ranger Archetype Feature</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Ranger8">
        <td>8</td>
        <td>Ability Score Improvement, Land's Stride</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Ranger9">
        <td>9</td>
        <td>-</td>
        <td>6</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Ranger10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Natural Explorer Improvement, Hide in Plain Sight</td>
        <td>6</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Ranger11">
        <td>11</td>
        <td>Ranger Archetype Feature</td>
        <td>7</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Ranger12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>7</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Ranger13">
        <td>13</td>
        <td>-</td>
        <td>8</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Ranger14">
        <td>14</td>
        <td>Favored Enemy Improvement, Vanish</td>
        <td>8</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Ranger15">
        <td>15</td>
        <td>Ranger Archetype Feature</td>
        <td>9</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Ranger16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>9</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Ranger17">
        <td>17</td>
        <td>-</td>
        <td>10</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Ranger18">
        <td>18</td>
        <td>Feral Senses</td>
        <td>10</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Ranger19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>11</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Ranger20">
        <td>20</td>
        <td>Foe Slayer</td>
        <td>11</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
    </tr>
</table>