
<table class="table">
    <tr style="background-color: #fefcbd66; color: black;">
        <th>Level</th>
        <th>Features</th>
        <th>Sneak Attack</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Rogue1">
        <td>1</td>
        <td>Expertise, Sneak Attack</td>
        <td>1d6</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Rogue2">
        <td>2</td>
        <td>Cunning Action</td>
        <td>1d6</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Rogue3">
        <td>3</td>
        <td>Rougish Archetype</td>
        <td>2d6</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Rogue4">
        <td>4</td>
        <td>Ability Score Improvement</td>
        <td>2d6</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Rogue5">
        <td>5</td>
        <td>Uncanny Dodge</td>
        <td>3d6</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Rogue6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Expertise</td>
        <td>3d6</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Rogue7">
        <td>7</td>
        <td>Evasion</td>
        <td>4d6</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Rogue8">
        <td>8</td>
        <td>Ability Score Improvement</td>
        <td>4d6</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Rogue9">
        <td>9</td>
        <td>Rougish Archetype Feature</td>
        <td>5d6</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Rogue10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Ability Score Improvement</td>
        <td>5d6</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Rogue11">
        <td>11</td>
        <td>Reliable Talent</td>
        <td>6d6</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Rogue12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>6d6</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Rogue13">
        <td>13</td>
        <td>Rougish Archetype Feature</td>
        <td>7d6</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Rogue14">
        <td>14</td>
        <td>Blindsense</td>
        <td>7d6</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Rogue15">
        <td>15</td>
        <td>Slippery Mind</td>
        <td>8d6</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Rogue16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>8d6</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Rogue17">
        <td>17</td>
        <td>Rougish Archetype Feature</td>
        <td>9d6</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Rogue18">
        <td>18</td>
        <td>Elusive</td>
        <td>9d6</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Rogue19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>10d6</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Rogue20">
        <td>20</td>
        <td>Stroke of Luck</td>
        <td>10d6</td>
    </tr>
</table>