
<table class="table">
    <tr style="background-color:rgba(128, 128, 128, 0.15)">
        <th>Level</th>
        <th>Features</th>
        <th>Cantrips</th>
        <th>Spells Known</th>
        <th>1st Level Spells</th>
        <th>2nd Level Spells</th>
        <th>3rd Level Spells</th>
        <th>4th Level Spells</th>
        <th>5th Level Spells</th>
        <th>6th Level Spells</th>
        <th>7th Level Spells</th>
        <th>8th Level Spells</th>
        <th>9th Level Spells</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Sorcerer1">
        <td>1</td>
        <td>Spellcasting, Sorcerous Origin</td>
        <td>4</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Sorcerer2">
        <td>2</td>
        <td>Font of Magic</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Sorcerer3">
        <td>3</td>
        <td>Metamagic</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Sorcerer4">
        <td>4</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Sorcerer5">
        <td>5</td>
        <td>-</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Sorcerer6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Sorcerous Origin Feature</td>
        <td>5</td>
        <td>7</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Sorcerer7">
        <td>7</td>
        <td>-</td>
        <td>5</td>
        <td>8</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Sorcerer8">
        <td>8</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>9</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Sorcerer9">
        <td>9</td>
        <td>-</td>
        <td>5</td>
        <td>10</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Sorcerer10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Metamagic</td>
        <td>6</td>
        <td>11</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Sorcerer11">
        <td>11</td>
        <td>-</td>
        <td>6</td>
        <td>12</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Sorcerer12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>6</td>
        <td>12</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Sorcerer13">
        <td>13</td>
        <td>-</td>
        <td>6</td>
        <td>13</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Sorcerer14">
        <td>14</td>
        <td>Sorcerous Origin Feature</td>
        <td>6</td>
        <td>13</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Sorcerer15">
        <td>15</td>
        <td>-</td>
        <td>6</td>
        <td>14</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Sorcerer16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>6</td>
        <td>14</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Sorcerer17">
        <td>17</td>
        <td>Metamagic</td>
        <td>6</td>
        <td>15</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Sorcerer18">
        <td>18</td>
        <td>Sorcerous Origin</td>
        <td>6</td>
        <td>15</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Sorcerer19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>6</td>
        <td>15</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Sorcerer20">
        <td>20</td>
        <td>Sorcerous Restoration</td>
        <td>6</td>
        <td>15</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>