
<table class="table">
    <tr style="background-color: #fefcbd66; color: black;">
        <th>Level</th>
        <th>Features</th>
        <th>Cantrips</th>
        <th>Spells Known</th>
        <th>Spell Slots</th>
        <th>Slot Level</th>
        <th>Invocations Known</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Warlock1">
        <td>1</td>
        <td>Otherworldly Patron, Pact Magic</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>1st</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Warlock2">
        <td>2</td>
        <td>Eldrich Invocations</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>1st</td>
        <td>2</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Warlock3">
        <td>3</td>
        <td>Pact Boon</td>
        <td>2</td>
        <td>4</td>
        <td>2</td>
        <td>2nd</td>
        <td>2</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Warlock4">
        <td>4</td>
        <td>Ability Score Improvement</td>
        <td>3</td>
        <td>5</td>
        <td>2</td>
        <td>2nd</td>
        <td>2</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Warlock5">
        <td>5</td>
        <td>-</td>
        <td>3</td>
        <td>6</td>
        <td>2</td>
        <td>3rd</td>
        <td>3</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Warlock6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Otherworldly Patron Feature</td>
        <td>3</td>
        <td>7</td>
        <td>2</td>
        <td>3rd</td>
        <td>3</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Warlock7">
        <td>7</td>
        <td>-</td>
        <td>3</td>
        <td>8</td>
        <td>2</td>
        <td>4th</td>
        <td>4</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Warlock8">
        <td>8</td>
        <td>Ability Score Improvement</td>
        <td>3</td>
        <td>9</td>
        <td>2</td>
        <td>4th</td>
        <td>4</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Warlock9">
        <td>9</td>
        <td>-</td>
        <td>3</td>
        <td>10</td>
        <td>2</td>
        <td>5th</td>
        <td>5</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Warlock10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Otherworldly Patron Feature</td>
        <td>4</td>
        <td>10</td>
        <td>2</td>
        <td>5th</td>
        <td>5</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Warlock11">
        <td>11</td>
        <td>Mystic Arcanum (6th level)</td>
        <td>4</td>
        <td>11</td>
        <td>3</td>
        <td>5th</td>
        <td>5</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Warlock12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>11</td>
        <td>3</td>
        <td>5th</td>
        <td>6</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Warlock13">
        <td>13</td>
        <td>Mystic Arcanum (7th level)</td>
        <td>4</td>
        <td>12</td>
        <td>3</td>
        <td>5th</td>
        <td>6</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Warlock14">
        <td>14</td>
        <td>Otherworldly Patron Feature</td>
        <td>4</td>
        <td>12</td>
        <td>3</td>
        <td>5th</td>
        <td>6</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Warlock15">
        <td>15</td>
        <td>Mystic Arcanum (8th level)</td>
        <td>4</td>
        <td>13</td>
        <td>3</td>
        <td>5th</td>
        <td>7</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Warlock16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>13</td>
        <td>3</td>
        <td>5th</td>
        <td>7</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Warlock17">
        <td>17</td>
        <td>Mystic Arcanum (9th level)</td>
        <td>4</td>
        <td>14</td>
        <td>4</td>
        <td>5th</td>
        <td>7</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Warlock18">
        <td>18</td>
        <td>-</td>
        <td>4</td>
        <td>14</td>
        <td>4</td>
        <td>5th</td>
        <td>8</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Warlock19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>15</td>
        <td>4</td>
        <td>5th</td>
        <td>8</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Warlock20">
        <td>20</td>
        <td>Eldrich Master</td>
        <td>4</td>
        <td>15</td>
        <td>4</td>
        <td>5th</td>
        <td>9</td>
    </tr>
</table>