
<table class="table">
    <tr style="background-color:rgba(128, 128, 128, 0.15)">
        <th>Level</th>
        <th>Features</th>
        <th>Cantrips</th>
        <th>1st Level Spells</th>
        <th>2nd Level Spells</th>
        <th>3rd Level Spells</th>
        <th>4th Level Spells</th>
        <th>5th Level Spells</th>
        <th>6th Level Spells</th>
        <th>7th Level Spells</th>
        <th>8th Level Spells</th>
        <th>9th Level Spells</th>
    </tr>
    @*LEVEL 1*@
    <tr id="Wizard1">
        <td>1</td>
        <td>Spellcasting, Arcana Recovery</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 2*@
    <tr id="Wizard2">
        <td>2</td>
        <td>Arcane Tradition</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 3*@
    <tr id="Wizard3">
        <td>3</td>
        <td>-</td>
        <td>3</td>
        <td>4</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 4*@
    <tr id="Wizard4">
        <td>4</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 5*@
    <tr id="Wizard5">
        <td>5</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 6*@
    <tr id="Wizard6">
        <td>6</td>
        @*maybe make this change according to the path they chose*@
        <td>Arcane Tradition Feature</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 7*@
    <tr id="Wizard7">
        <td>7</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 8*@
    <tr id="Wizard8">
        <td>8</td>
        <td>Ability Score Improvement</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 9*@
    <tr id="Wizard9">
        <td>9</td>
        <td>-</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 10*@
    <tr id="Wizard10">
        <td>10</td>
        @*maybe make this change according to the path they chose*@
        <td>Arcane Tradition Feature</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 11*@
    <tr id="Wizard11">
        <td>11</td>
        <td>-</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 12*@
    <tr id="Wizard12">
        <td>12</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 13*@
    <tr id="Wizard13">
        <td>13</td>
        <td>-</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 14*@
    <tr id="Wizard14">
        <td>14</td>
        <td>Arcane Tradition Feature</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
    </tr>
    @*LEVEL 15*@
    <tr id="Wizard15">
        <td>15</td>
        <td>-</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 16*@
    <tr id="Wizard16">
        <td>16</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    @*LEVEL 17*@
    <tr id="Wizard17">
        <td>17</td>
        <td>-</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 18*@
    <tr id="Wizard18">
        <td>18</td>
        <td>Spell Mastery</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 19*@
    <tr id="Wizard19">
        <td>19</td>
        <td>Ability Score Improvement</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    @*LEVEL 20*@
    <tr id="Wizard20">
        <td>20</td>
        <td>Signature Spell</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>